.navig {
    color: #000000;
}
.first {
    background-color: rgba(47, 48, 58, 1);
}
.biznes{
    color: rgba(255, 255, 255, 1);
}
.logo{
    color: #000000;
}
.web{
    color: #2196F3;
}
.navig{
    color: #000000;
}
.but1{
    background-color: #2196F3;
    color: #FFFFFF;
}
.pp{
    color: #757575;
}
.TEAM{
    background-color: #F5F4FA;
}
footer{
    background-color: #2F303A;
    color: #FFFFFF;
}